
:root {

	--fs-body: clamp(1rem, 1dvw + 0.4rem, 1.25rem);
	--fs-h1: clamp(2rem, 4dvw, 3.5rem);
	--fs-h2: clamp(1.5rem, 3dvw, 2.5rem);
	--fs-h3: clamp(1.25rem, 2dvw, 2rem);

	--space-s: clamp(0.5rem, 1dvw, 1rem);
	--space-m: clamp(1rem, 2dvw, 2rem);
	--space-l: clamp(2rem, 4dvw, 4rem);
	--space-xl: clamp(3rem, 6dvw, 6rem);

	--fw-high: 900;
	--fw-middle: 600;
	--fw-normal: 400;
	--fw-light: 300;

	--primary: #1d5941;
	--secondary: #D85A30;
	--tertiary: #59A27F;
	--neutral-creme: #F5EDD5;
	--neutral-green: #f6f7f2;
	--accent: #7e3df6;
	--h-color: #181d27;
	--p-color: #535862;
	--danger: rgb(243, 8, 71);
	--label-disabled: #5e756c;
	--border-disabled: #83968f;

	--gray-dark: #404040;
	--gray-middle: #999;
	--gray-light: #CCC;
	--gray-extra-light: #EEE;
	--gray-ultra-light: #FBFBFB;
	--gray-disabled: #DDE1DF;

	
	--bg-page: var(--bg-white);
	--bg-white: white;
	
	--hr-middle-light: 1px solid #CCC;
	--hr-light: 1px solid #DDD;
	--hr-extra-light: 1px solid #EEE;

	--base-transition: all .2s ease-out;
}




/* ------------------------------------------------ */
/* Default											*/

* {
	font-size: 100%;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}

a {
	font-weight: var(--fw-normal);
	color: var(--tertiary);
	transition: var(--base-transition);
	text-decoration: none;
	font-weight: var(--fw-middle);	
}

a:hover {
	color: var(--h-color);
}

h1 {
	font-weight: var(--fw-high);
	margin-bottom: var(--space-m);
}

p {
	font-size: var(--fs-body);
	color: var(--p-color);
}

main {
	min-height: 96vh;
}

body {
	background-color: var(--bg-page)
}

.extra-padding-container {
	padding: 10rem 3rem;
}

.ultra-strong, .ultra-strong a {
	font-weight: var(--fw-high);
}




/* ------------------------------------------------ */
/* Navbar											*/

.navbar {
	border-bottom: var(--hr-dottet);
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	transition: all .3s ease-out;
	background-color: var(--neutral-green) !important;
	box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);
	padding: 1rem 2rem !important;
	border-bottom: var(--hr-light);
}

.navbar-transform {
	transform: translateY(-120%);
}

nav ul {
	gap: 2rem;
}

nav li {
	font-size: 1.2rem;
	font-weight: var(--fw-middle);
}

nav li a {
	padding: 0 !important;
	padding-bottom: .3rem !important;
}

.nav-link {
	font-weight: var(--fw-normal);
	color: var(--primary);
	transition: var(--base-transition);
}

.nav-link:hover {
	color: var(--h-color);
}

.navbar-brand {
	width: 20rem;
}

nav .active {
	font-weight: var(--fw-normal);
	color: var(--tertiary) !important;
	border-bottom: 1px solid var(--tertiary);
}

nav [type="submit"].nav-link {
	background-color: var(--primary);
	color: var(--bg-white);
	border: 2px solid var(--primary);
	font-weight: var(--fw-middle);
	padding-left: var(--space-s) !important;
	padding-right: var(--space-s) !important;
	padding-top: .24rem !important;
	padding-bottom: .24rem !important;
	padding-bottom: 0;
	position: relative;
	top: -5px;
	min-height: 2.5rem !important;
}

nav [type="submit"].nav-link:hover {
	background-color: var(--bg-white) !important;
	color: var(--primary);
}

.navbar-toggler {
	border: 0 none;
	padding: 0;
	position: relative;
	right: -1rem;
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: none;
}

.navbar-toggler:focus-visible {
	outline: 0;
}




/* ------------------------------------------------ */
/* Form												*/

form label {
	margin-bottom: 0 !important;
	text-transform: uppercase;
	font-size: x-small;
}

textarea.form-control {
	width: 100%;
	padding: .6rem 1rem;
}

.form-control {
	border-color: var(--gray-middle);
	transition: var(--base-transition);
}

.form-control:focus {
	box-shadow: none;
	outline: none;
	border-color: var(--primary) !important;
	box-shadow: 0 .3rem 0 rgba(0,0,0,.05);
}

.btn-primary-custom {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--bg-white);
	background-color: var(--primary);
	border: 2px solid var(--primary);
	font-weight: var(--fw-middle);
	min-height: 2.7rem;
}

input.form-control {
	height: 3rem;
	padding: 0 1rem;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
	padding: 0;
}

input.form-control[type="file"]:hover::file-selector-button {
	background-color: var(--gray-ultra-light) !important;
}

.btn-primary-custom:active,
.btn-primary-custom:hover {
	border-color: var(--primary) !important;
	color: var(--primary) !important;
}

.btn-danger-custom {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--bg-white);
	background-color: var(--danger);
	border: 2px solid var(--danger);
	font-weight: var(--fw-middle);
	min-height: 2.7rem;
}

.btn-danger-custom:focus,
.btn-danger-custom:focus-visible {
	background-color: var(--danger) !important;
	border-color: var(--danger) !important;
	color: var(--bg-white) !important;
}

.btn-danger-custom:hover {
	border-color: var(--danger);
	color: var(--danger);
}

button.btn-danger-custom {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--bg-white);
	background-color: var(--danger);
	border: 2px solid var(--danger);
	font-weight: var(--fw-middle);
	min-height: 2.7rem;
}

button.btn-danger-custom:focus,
button.btn-danger-custom:focus-visible {
	border-color: var(--danger) !important;
	color: var(--bg-white) !important;
}

button.btn-danger-custom:hover {
	background-color: var(--bg-white) !important;
	border-color: var(--danger) !important;
	color: var(--danger) !important;
}

button.btn-danger-custom:active {
	border-color: var(--danger) !important;
	background-color: var(--bg-white) !important;
	color: var(--danger) !important;
}

.btn-primary-cancel {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: var(--fw-middle);
	border: 2px solid var(--gray-disabled);
	min-height: 2.7rem;
	background-color: var(--gray-disabled);
	color: var(--label-disabled);
}

.btn-primary-cancel:hover {
	border-color: var(--border-disabled) !important;
	background-color: var(--bg-white);
	color: var(--label-disabled);
}

input.form-control {
	height: 3rem;
	padding: 0 1rem;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
	padding: 0;
}

.form-control[type="file"]::file-selector-button {
	background-color: var(--gray-extra-light);
	border: none;
	border-right: 1px solid var(--gray-middle) !important;
	padding-top: 1rem;
	padding-bottom: 20px;
	margin-left: .2rem;
	position: relative;
	left: -3px;
	width: 111px;
}

input.form-control[type="file"]:hover::file-selector-button {
	background-color: var(--gray-ultra-light) !important;
}

.alert-danger {
	border: 0 none;
	padding: 1rem 0 .1rem .3rem;
}




/* ------------------------------------------------ */
/* Modal											*/

.modal .modal-content {
	padding: var(--space-m);
	box-shadow: 0 3rem 4rem rgba(0, 0, 0, .4);
}

.modal h3 {
	font-weight: var(--fw-high);
}

.modal .modal-body > h5 {
	font-weight: var(--fw-high) !important;
}

.modal .modal-header,
.modal .modal-footer {
	border: 0 none;
}

.modal .modal-footer {
	justify-content: flex-start;
}





/* ------------------------------------------------ */
/* Card												*/

.card {
	padding: 4%;
	box-shadow: 0 2px 0 rgba(0,0,0,.05);
	transition: var(--base-transition);
	border-style: dashed;
}

.card:hover {
	box-shadow: 0 10px 1rem rgba(0, 0, 0, .07);
	border-color: var(--gray-middle);
	border-style: solid;
}

.card .card-body {
	padding-top: .4rem;
	padding-bottom: 0;
}

.card small {
	font-weight: var(--fw-normal);
	color: var(--primary);
	text-transform: uppercase;
	font-size: x-small;
}

.card img {
	padding: 4%;
	border-radius: 1.12rem !important;
}

.card h4 {
	margin-bottom: .4rem;
	line-height: 1.3;
	font-weight: var(--fw-high);
}

.card p {
	font-weight: var(--fw-normal);
	line-height: 1.4;
}




/* ------------------------------------------------ */
/* Blog												*/

.post {
	padding-right: 5rem;
}

.img-thumb {
	width: 120px;
	height: auto;
	border-radius: 4px;
	margin-top: .4rem;
}

.post h1 {
	margin-bottom: 2rem;
}

.post h3 {
	margin-bottom: 3rem;
	font-weight: var(--fw-light);
	font-style: italic;
}

.post p {
	margin-bottom: 2rem;
}

.post small {
	font-weight: var(--fw-normal);
	color: var(--primary);
	text-transform: uppercase;
	font-size: x-small;
}

.img-post {
	border-radius: 1rem;
}




/* ------------------------------------------------ */
/* Footer											*/

footer {
	margin-left: var(--space-m);
	margin-right: var(--space-m);
	border-top: var(--hr-light);
	padding: 1rem 0;
	font-size: .8rem !important;
	color: var(--gray-middle);
}





/* ------------------------------------------------ */
/* Media queries									*/

@media (max-width: 991.98px) {

	/* ------------------------------------------------ */
	/* Layout											*/
	.extra-padding-container {
		padding: 7rem 2rem;
	}


	/* ------------------------------------------------ */
	/* Navbar											*/

	ul.navbar-nav {
		padding-top: 2rem;
	}

	.extra-padding-small {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.navbar-brand {
		width: 13rem;
	}

	.navbar {
		padding-left: .5rem !important;
	}

	.navbar-toggler-icon {
		position: relative;
		top: -.35rem !important;
	}

	nav ul {
		gap: 0;
	}

	.nav-link {
		margin-bottom: .5rem;
	}

	nav .active {
		border-bottom: 0 none;
	}

	nav .active::before {
		content: '- ';
		margin-right: .5rem;
	}
	
}